:root {
    --background-color: #fcfbff;
    --heading-color: #252526;
    --primary: #446dea;
    --slider-bg: #ccc;
    --slider-handle-color: #446dea;
}

body.dark-mode {
    --background-color: #252526;
    --heading-color: #fcfbff;
    --primary: #446dea;
    --slider-bg: #446dea;
    --slider-handle-color: #fcfbff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
span {
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    color: var(--heading-color, #252526);
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

#mode {
    font-size: 48px;
    text-decoration: underline;
}

.switch-text {
    font-size: 26px;
    margin-right: 16px;
    margin-top: 2px;
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 132px;
    }
    
    h2 {
        font-size: 68px;
    }

    #mode {
        font-size: 96px;
    }

    .switch-text {
        font-size: 32px;
        margin-right: 32px;
    }
}

.page-wrapper {
    background-color: var(--background-color, #fcfbff);
    min-height: 100vh;
    padding: 16px;
}

@media screen and (min-width: 769px) {
    .page-wrapper {
        padding: 32px;
    }

    .header-block {
        position: absolute;
        top: 0;
        left: 32px;
    }
}

.switch-wrapper {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

@media screen and (min-width: 769px) {
    .switch {
        width: 60px;
        height: 34px;
    }
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--slider-bg, #ccc);
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: var(--slider-handle-color, #446dea);
    transition: .4s;
}

@media screen and (min-width: 769px) {
    .slider:before {
        height: 26px;
        width: 26px;
    }
}
      
input:checked + .slider:before {
    transform: translateX(26px);
}